body {
  font-family: 'Nunito Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Text', serif !important;
}

body {
  background-color: #e6f0fa;
}

/* Remove extra gaps/margins globally */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure body and root div take full height */
html, body, #root {
  height: 100%;
}

/* Optional: remove any extra spacing from sections */
section, div {
  margin: 0;
  padding: 0;
}
